services:
  mysql:
    image: ${MYSQL_IMAGE}
    container_name: MySQL8
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - ${MYSQL_DATA_PATH}:/var/lib/mysql
      - ./${CONFIG_PATH}/mysql/my.cnf:/etc/mysql/my.cnf
      - ./${CONFIG_PATH}/mysql/docker.cnf:/etc/mysql/docker.cnf
    ports:
      - "${MYSQL_PORT}:3306"
    expose:
      - "3306"
    networks:
      - workload

  backend:
    image: ${PHP_IMAGE}
    container_name: HouseOfLegacy
    depends_on:
      - mysql
    environment:
      PHP_VERSION: ${PHP_VERSION}
      DB_CONNECTION: ${DB_CONNECTION}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_DATABASE: ${DB_DATABASE}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      APP_ENV: ${APP_ENV}
      APP_DEBUG: ${APP_DEBUG}
      APP_URL: ${APP_URL}
      APP_NAME: ${APP_NAME}
      APP_KEY: ${APP_KEY}
      APP_LOCALE: ${APP_LOCALE}
      APP_FALLBACK_LOCALE: ${APP_FALLBACK_LOCALE}
      APP_FAKER_LOCALE: ${APP_FAKER_LOCALE}
      APP_MAINTENANCE_DRIVER: ${APP_MAINTENANCE_DRIVER}
      PHP_CLI_SERVER_WORKERS: ${PHP_CLI_SERVER_WORKERS}
      BCRYPT_ROUNDS: ${BCRYPT_ROUNDS}
      LOG_CHANNEL: ${LOG_CHANNEL}
      LOG_STACK: ${LOG_STACK}
      LOG_DEPRECATIONS_CHANNEL: ${LOG_DEPRECATIONS_CHANNEL}
      LOG_LEVEL: ${LOG_LEVEL}
      SESSION_DRIVER: ${SESSION_DRIVER}
      SESSION_LIFETIME: ${SESSION_LIFETIME}
      SESSION_ENCRYPT: ${SESSION_ENCRYPT}
      SESSION_PATH: ${SESSION_PATH}
      SESSION_DOMAIN: ${SESSION_DOMAIN}
      BROADCAST_CONNECTION: ${BROADCAST_CONNECTION}
      FILESYSTEM_DISK: ${FILESYSTEM_DISK}
      QUEUE_CONNECTION: ${QUEUE_CONNECTION}
      CACHE_STORE: ${CACHE_STORE}
      MEMCACHED_HOST: ${MEMCACHED_HOST}
      REDIS_CLIENT: ${REDIS_CLIENT}
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      REDIS_PORT: ${REDIS_PORT}
      MAIL_MAILER: ${MAIL_MAILER}
      MAIL_SCHEME: ${MAIL_SCHEME}
      MAIL_HOST: ${MAIL_HOST}
      MAIL_PORT: ${MAIL_PORT}
      MAIL_USERNAME: ${MAIL_USERNAME}
      MAIL_PASSWORD: ${MAIL_PASSWORD}
      MAIL_FROM_ADDRESS: ${MAIL_FROM_ADDRESS}
      MAIL_FROM_NAME: ${APP_NAME}
    volumes:
      - ${BACKEND_PATH}:/var/www/html:delegated
      - ./${CONFIG_PATH}/php/conf.d/app-fpm.ini:/usr/local/etc/php/conf.d/app-fpm.ini
      - ./${CONFIG_PATH}/php/conf.d/app-xdebug.ini:/usr/local/etc/php/conf.d/app-xdebug.ini
      - ./${CONFIG_PATH}/php/php-fpm.d/www.conf:/usr/local/etc/php-fpm.d/www.conf
    networks:
      - workload
    extra_hosts:
      - "host.docker.internal:host-gateway"

  nginx:
    image: ${NGINX_IMAGE}
    container_name: Nginx
    depends_on:
      - backend
    volumes:
      - ${BACKEND_PATH}:/var/www/html:delegated
      - ./${CONFIG_PATH}/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./${CONFIG_PATH}/nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "${BACKEND_PORT}:${BACKEND_PORT}"
    expose:
      - "${BACKEND_PORT}" # expose internal port only (not published to host)
    environment:
      - BACKEND_HOST=${BACKEND_HOST}
      - BACKEND_PORT=${BACKEND_PORT}
    networks:
      - workload

  nginx-proxy:
    image: ${PROXY_IMAGE}
    container_name: Reverse-Proxy
    depends_on:
      - nginx
    ports:
      - "${NGINX_PROXY_PORT}:80"
      - "${NGINX_SSL_PORT}:443"
    volumes:
      - ./${CONFIG_PATH}/proxy/nginx.conf:/etc/nginx/nginx.conf
      - ./${CONFIG_PATH}/proxy/nginx-proxy.conf:/etc/nginx/conf.d/nginx-proxy.conf
      - ./${CONFIG_PATH}/proxy/nginx.proxy.settings:/etc/nginx/nginx.proxy.settings
      - ./${CONFIG_PATH}/proxy/ssl:/etc/nginx/ssl:delegated
    environment:
      - BACKEND_HOST=${BACKEND_HOST}
      - BACKEND_PORT=${BACKEND_PORT}
    networks:
      - workload

networks:
  workload:
    driver: bridge
