@use "../../node_modules/@coreui/coreui-pro/scss/_variables.scss";
$enable-deprecation-messages: false;
$focus-ring-width:      .1rem !default;
@forward "../../node_modules/@coreui/coreui-pro/scss/_variables.scss";
