@use "@coreui/coreui-pro/scss/coreui" as * with (
  $enable-deprecation-messages: false,
  $prefix: 'zgs-',
  $data-infix: '-'

);
@use "@coreui/coreui-pro/scss/mixins/breakpoints" as *;
@use "@coreui/coreui-pro/scss/mixins/color-mode" as *;
@use "@coreui/chartjs/scss/coreui-chartjs" as *;
@use "sass:math";
@use "sass:color";
@use "sass:string";
@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "sass:selector";
@use "@coreui/coreui-pro/scss/variables" as *;
$prefix: 'zgs-';
$data-infix:                  '-' !default;
$toast-max-width:                   350px;
$toast-padding-x:                   .75rem;
$toast-padding-y:                   .5rem;
$toast-font-size:                   .875rem;
$toast-color:                       null;
$toast-background-color:            rgba(var(--#{$prefix}body-bg-rgb), .85);
$toast-border-width:                var(--#{$prefix}border-width);
$toast-border-color:                var(--#{$prefix}border-color-translucent);
$toast-border-radius:               var(--#{$prefix}border-radius);
$toast-box-shadow:                  var(--#{$prefix}box-shadow);
$toast-spacing:                     $container-padding-x;

$toast-header-color:                var(--#{$prefix}secondary-color);
$toast-header-background-color:     rgba(var(--#{$prefix}body-bg-rgb), .85);
$toast-header-border-color:         $toast-border-color;

@use 'themes';

body {
    background-color: var(--zgs-tertiary-bg);
}

.wrapper {
    width: 100%;
    padding-inline: var(--zgs-sidebar-occupy-start, 0) var(--zgs-sidebar-occupy-end, 0);
    will-change: auto;
    @include transition(padding .15s);
}

.header > .container-fluid,
.sidebar-header {
    min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
}

.sidebar-brand-full {
    margin-left: 3px;
}

.sidebar-header {
    .nav-underline-border {
        --zgs-nav-underline-border-link-padding-x: 1rem;
        --zgs-nav-underline-border-gap: 0;
    }

    .nav-link {
        display: flex;
        align-items: center;
        min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
    }
}

.sidebar-toggler {
    margin-inline-start: auto;
}

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
    .sidebar-toggler {
        margin-inline-end: auto;
    }
}

.header > .container-fluid + .container-fluid {
    min-height: 3rem;
}

.footer {
    min-height: calc(3rem + 1px); // stylelint-disable-line function-disallowed-list
}

@include color-mode(dark) {
    body {
        background-color: var(--zgs-dark-bg-subtle);
    }

    .footer {
        --zgs-footer-bg: var(--zgs-body-bg);
    }
}
