[mysqld]
# Core directories
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
pid-file=/var/run/mysqld/mysqld.pid

# General settings
secure-file-priv=NULL
user=mysql

# Include additional configs
!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/
